<ion-header [translucent]="true">
  <ion-toolbar>
    <img src="../../assets/imagenes/logo.png" alt="" >
    <ion-title>
      Music Station
    </ion-title>
  </ion-toolbar>
  
</ion-header>



  

<ion-content  padding>
   
  


   
 <div class="container">
  


   <a ion-button routerLink="/metronome" routerDirection="forward" id="met">
     <ion-icon name="play-sharp"></ion-icon>
     <br>
     <ion-label>Metronome</ion-label>
   </a>
   
   
   
   <a ion-button routerLink="/chords" routerDirection="forward">
      <ion-icon name="finger-print-sharp"></ion-icon>
      <br>
      <ion-label>Chords</ion-label>
   </a>
   
  
   
   <a ion-button routerLink="/tuner" routerDirection="forward">
     <ion-icon name="radio-sharp"></ion-icon>
     <br>
     <ion-label>Tuner</ion-label>
   </a>
    
 </div>
</ion-content> 