<ion-header [translucent]="true">
  <ion-toolbar>
    <img src="../../assets/imagenes/logo.png" alt="" >
    <ion-title>
      Music Station
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
<div class="container">
  <a ion-button routerLink="/harmony" routerDirection="forward">
    <ion-icon name="musical-notes-sharp"></ion-icon>
    <br>
    <ion-label>Harmony</ion-label>
  </a>



  <a ion-button routerLink="/melody" routerDirection="forward">
    <ion-icon name="musical-note-sharp"></ion-icon>
    <br>
    <ion-label>Melody</ion-label>
  </a>
</div>
  
</ion-content>
