ion-content {
    --background : none;
    border:none;
    background-image: url(../../assets/imagenes/wp4991631.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
  }

ion-icon {color: #ff5900; display: block; font-size: 35px; margin: auto;}

button { border-radius: 50%;border-style: solid; border-color: #ff5900; border-width: 0.3vw; background-color:#1f1f1f ;padding: 6vw 6vw;}
ion-searchbar { display: block; max-width: 610px;margin: auto; margin-bottom: 40px;}
#pagina{
    
  height: 100%;
  display: flex;
  /* align-items por defecto tiene el valor `stretch` */
  align-items: center; justify-content: flex-start;; flex-direction: column;}


  #logo{ height: 40px; margin-left: 1vw;; float: left; }

  ion-title{margin-top: 10px;;}

  .foro{ width: 600px; background-color:#1f1f1f; border-radius: 1%;border-color:#ff5900 ; border-style: solid; border-width: 0.3vw; margin-bottom: 4vw;}
 .barra{ border-top: solid; border-top-width:0.3vw;border-color:#ff5900 ;display: flex;
  /* align-items por defecto tiene el valor `stretch` */
  align-items:center; justify-content: space-evenly; height: 70px;}

  .perf{height: 40px; margin-left: 20px;; float: left;  border-radius: 50%;margin-right: 10px;}
  #segundo{height: 40px; margin-left: 60px;; float: left;  border-radius: 50%;margin-right: 10px;}
  #par2 {margin-left: 60px;}
  .par1 {margin-left: 20px;}
  iframe {margin-left: 15px;;;}