<ion-header [translucent]="true">
  <ion-toolbar>
    <img src="../../assets/imagenes/logo.png" alt="" id=logo >
    <ion-title>
      Music Station
    </ion-title>
    <ion-menu side="start" menuId="first" contentId="main">
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title>Start Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-item>Menu Item</ion-item>
          <ion-item>Menu Item</ion-item>
          <ion-item>Menu Item</ion-item>
          <ion-item>Menu Item</ion-item>
          <ion-item>Menu Item</ion-item>
        </ion-list>
      </ion-content>
      </ion-menu>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-searchbar></ion-searchbar>
  <br>
 <div id="pagina">  
   <div class="foro">
     <br>
    <img src="../../assets/imagenes/e6d7d2c2c09bfc5b1aadbedbfdfbe435.jpg" alt=""  
    class="perf"> 
     <h4>Nestor fígueroa</h4>
     <P class="par1">¿Alguno sabe los acordes para guitarra de la canción "Días", de Coti ?</P>
     <br >
     <img src="../../assets/imagenes/unnamed.png" alt="" id="segundo"> 
     <h4>Enrique Paso</h4>
     <p id= "par2">Si, son Do, Fa, Solm y Rem.</p>
     <br >
     <img src="../../assets/imagenes/e6d7d2c2c09bfc5b1aadbedbfdfbe435.jpg" alt=""class="perf"> <H4>Nestor fígueroa</H4>
     <p class="par1">Gracias Enrique!!</p>
     <br >
     <div class="barra">
       <ion-icon name="heart-sharp"></ion-icon>
       <ion-icon name="chatbubbles-sharp"></ion-icon>
       <ion-icon name="arrow-undo-circle-sharp"></ion-icon>
     </div>
    </div>
    
    <div class="foro">
      <br>
     <img src="../../assets/imagenes/mujer.jpg" alt=""  
     class="perf"> 
      <h4>Alice Kristiansen</h4>
      <P class="par1">Hola a todos! Les comparto mi último cover, espero que les guste!
      </P>
      <br >
      <iframe width="560" height="315" src="https://www.youtube.com/embed/ITbJZZjScZ0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <br>
      <br>
      <br>
      <div class="barra">
        <ion-icon name="heart-sharp"></ion-icon>
        <ion-icon name="chatbubbles-sharp"></ion-icon>
        <ion-icon name="arrow-undo-circle-sharp"></ion-icon>
      </div>
      <br>
      <br>
    </div>     
 </div>
</ion-content>
